In [1]:
#checking the data
import numpy as np
import pandas as pd
import seaborn as sns
#preprocessing
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import make_pipeline
#metrics
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
#models
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
#scores
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from IPython.core.display import display, HTML

## 3RD Try

In [2]:
#No PCA + 5 AND 95 PERCENTILE DROP

In [3]:
data = pd.read_csv('./input/data.csv/data.csv')

In [4]:
steps = [
    
    StandardScaler(),
    Normalizer(),
    PCA(n_components=2)
]

pipe = make_pipeline(*steps)

In [5]:
# [carat] max value abnormally high compared to the mean an 75% quartile, y and z 95%, x y z 5%
stats = data.describe().T
stats['IQR'] = stats['75%'] - stats['25%']
stats

,count,mean,std,min,25%,50%,75%,max,IQR
carat,40455.0,0.798385,0.474353,0.2,0.40,0.70,1.04,5.01,0.64
depth,40455.0,61.747932,1.432322,43.0,61.00,61.80,62.50,79.00,1.50
table,40455.0,57.459085,2.231152,43.0,56.00,57.00,59.00,79.00,3.00
x,40455.0,5.732041,1.123169,0.0,4.71,5.70,6.54,10.74,1.83
y,40455.0,5.735939,1.152802,0.0,4.72,5.71,6.54,58.90,1.82
z,40455.0,3.539537,0.709709,0.0,2.91,3.53,4.04,31.80,1.13
price,40455.0,3939.242813,4000.344155,326.0,950.00,2409.00,5331.00,18823.00,4381.00

In [6]:
data = data[data.carat < np.percentile(data.carat,95)]

In [7]:
stats = data.describe().T
stats

,count,mean,std,min,25%,50%,75%,max
carat,38425.0,0.731709,0.380906,0.2,0.39,0.70,1.01,1.70
depth,38425.0,61.744299,1.409598,43.0,61.10,61.80,62.50,79.00
table,38425.0,57.417751,2.223441,43.0,56.00,57.00,59.00,79.00
x,38425.0,5.605126,0.999855,0.0,4.68,5.63,6.45,7.92
y,38425.0,5.609074,1.002036,0.0,4.69,5.63,6.45,31.80
z,38425.0,3.461554,0.635590,0.0,2.89,3.47,4.00,31.80
price,38425.0,3388.605830,3214.258499,326.0,918.00,2232.00,4805.00,18806.00

In [8]:
data = data[data.y < np.percentile(data.y,95)]
data = data[data.z < np.percentile(data.z,95)]

In [9]:
data = data[data.x > np.percentile(data.x,5)]
data = data[data.y > np.percentile(data.y,5)]
data = data[data.z > np.percentile(data.z,5)]

In [10]:
steps = [
    
    StandardScaler(),
    Normalizer(),
    
]

pipe = make_pipeline(*steps)
X = data[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y', 'z']]

In [11]:
X_dummied = pd.get_dummies(X)
X_dummied

,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,cut_Premium,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
2,0.80,61.0,57.0,6.03,6.01,3.67,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
3,0.40,63.3,60.0,4.68,4.64,2.95,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
5,0.53,60.5,60.0,5.19,5.23,3.15,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,0.70,60.8,61.0,5.69,5.64,3.45,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
7,1.13,64.0,58.0,6.52,6.58,4.19,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,1.11,62.8,61.0,6.63,6.56,4.14,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
40451,0.73,62.6,56.0,5.77,5.74,3.60,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
40452,1.26,59.2,60.0,7.09,7.02,4.18,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
40453,0.72,61.4,56.0,5.76,5.83,3.56,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
40454,0.54,60.8,59.0,5.27,5.23,3.19,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0

In [12]:
#Cleaning the df using functions in steps
pipe = make_pipeline(*steps)
X_feats = pipe.fit_transform(X_dummied)

In [13]:
y = data.price

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_feats, y, test_size=0.2)

In [15]:
model = LinearSVC()
model.fit(X_train, y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [16]:

y_pred = model.predict(X_test) 


from sklearn.metrics import r2_score
R2 = r2_score(y_test,y_pred)
print(f'R2 = {round(R2,2)}')

R2 = 0.71

## TEST

In [17]:
check = pd.read_csv('./input/test.csv')

In [18]:
X_test = check[['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'x', 'y',
       'z']]
X_test = pd.get_dummies(X_test)

In [19]:
X_test = pipe.fit_transform(X_test)

In [20]:
y_pred = model.predict(X_test) 


df3 = pd.DataFrame(y_pred)
df3 = df3.rename(columns={0:'price'})
df3['id']=df3.index
df3=df3[['id','price']]

In [22]:
df3.to_csv('results_4.csv',index=False)